{% extends 'base.html' %}
{% block content %}
     {% if form.errors %}
        <ol>
          {% for error in form.errors %}
            <li><strong>{{ error|escape }}</strong></li>
          {% endfor %}
        </ol>
      {% endif %}

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
            <div class="card-header">
              Sign-Up Form
             </div>
             <div class="card-body">
             <h5 class="card-title">Fill in your details below</h5>
        {#       <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
                 <div class="form-group">
                    <form method="POST">
                    {% csrf_token %}
                    {{ signup_form }}
                    <br>
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                    </form>
                 </div>
             </div>
            </div>
        </div>
    </div>


{% endblock content %}
