{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Om-Logg Home</h1>
          <h3 class="display-6">How to use me and what am I for</h3>
        <p class="lead my-5">Hello there, <br>This is Om-Logg,
            A place where you can log your activities,
            habits, daily tasks, reminders and much more.</p>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <p class="lead my-4">
              To start logging just head on over to sign-up or login, if you are already logged in, head on over to the Logs page - you can get there by pressing on the 'Logs' button up top.
          </p>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
           <p class="lead my-4">When we speak about reminders we're not referring to the regular phone reminders that we all have on our devices,
        <br>we're speaking about reminders as in memories, not necessarily memories like that of your dog licking your nose,
        <br>rather memories that are important and shouldn't forget for instance, when you last took medication or when you
        <br>last fed your puppy that licked your nose and all the similar memories that need to be logged.</p>
      </div>
    </div>
{% endblock content %}
